<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609755613015-72k2ridml89ps2verl9r49r3ih54g2gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609755613015-72k2ridml89ps2verl9r49r3ih54g2gp</string>
	<key>API_KEY</key>
	<string>AIzaSyClUwvPKIGxQz3Bl175GNABnMTu6NhbrdA</string>
	<key>GCM_SENDER_ID</key>
	<string>609755613015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.duke.cs290.moodtracker</string>
	<key>PROJECT_ID</key>
	<string>midlight-9d28d</string>
	<key>STORAGE_BUCKET</key>
	<string>midlight-9d28d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609755613015:ios:04c7e03eb57c16c0a4a012</string>
	<key>DATABASE_URL</key>
	<string>https://midlight-9d28d.firebaseio.com</string>
</dict>
</plist>